@import "tailwindcss";

:root {
  --font-nuito: Nunito, Arial, Helvetica, sans-serif;
  --font-esrebond: ES Rebond, Arial, Helvetica, sans-serif;
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: #29282A;
  --color-orange: #F87315;
  --color-tulip-blue: #47A3FF;
  --color-light-orange: #F873151F;
  --color-light-gray: #F5F5F5;
  --color-orchid: #E687E4;
  --color-accent-green: #8CD7793D;



  /* gradients */
  --circle-gradient: 135deg, rgba(22, 161, 182, 0) 0%, #16A1B6 100%;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--color-primary);
  font-family: var(--font-esrebond), Arial,
    Helvetica,
    sans-serif;
}

/* font family Nuniton */

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/font/Nunito/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


/* font family ES Rebond */
@font-face {
  font-family: "ES Rebond";
  src: url("/font/ES Rebond/ESRebondGrotesqueTRIAL-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ES Rebond";
  src: url("/font/ES Rebond/ESRebondGrotesqueTRIAL-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ES Rebond";
  src: url("/font/ES Rebond/ESRebondGrotesqueTRIAL-Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ES Rebond";
  src: url("/font/ES Rebond/ESRebondGrotesqueTRIAL-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ES Rebond";
  src: url("/font/ES Rebond/ESRebondGrotesqueTRIAL-Extrabold.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.font-nunito {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}